* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 116px;
    border-bottom: 5px solid $color3;
}

.modoNocturno .footer {
    border-bottom: 5px solid $color2;
}

.p4 {
    font-family: $font2;
    font-size: $size10;
    line-height: 20px;
    margin: 8% 0 0 50%;
}

.modoNocturno .p4 {
    color: $color1;
}

.social {
    font-family: $font2;
    font-size: $size10;
    margin: 8% 10% 0 10% ;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modoNocturno .social {
    color: $color1;
}

.fab {
    color: $color6;
    font-size: $size6;
}

.fab:hover {
    color: $color3;
}

.modoNocturno .fab:hover {
    color: $color1;
}

.compartir {
    line-height: 20px;
}

@media (max-width: 767px) {

    .footer {
        display: block;
        height: 196px;
    }

    .social {
        margin: 15% 0 15% 0;
        display: block;
        text-align: center;
    }

    .compartir {
        margin-bottom: 3%;
    }

    .p4 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}