// TARJETAS - HOVER
.tarjetaBusqueda {
    height: 200px;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 29px;
  }

.gifoBus {
    width: 260px;
    height: 200px;
  }

.busquedaHover{
    display: block;
    position: absolute;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 400;
    opacity: 0;
    transition: .5s ease;
    background-color: $color3;
  }
  
.tarjetaBusqueda:hover .busquedaHover {
    opacity: 0.6;
  }

.textBuscar {
    display: block;
    color: white;
    font-family: $font2;
    font-size: $size8;
    position: relative;
    margin-top: 45%;
    margin-left: 8%;
  }


//botones - MAX-FAV-DESCARGAR
.botonesMax {
    display: flex;
    flex-direction: row;
  }

.botones {
    position: absolute;
    top: 2%;
    left: 50%;
  }

  /////////////// MAX ///////////////
#infoMax {
    display: grid;
    grid-template-columns: 60% 50%;
    justify-content: center;
    margin: 2% 0 10% 28%;
  }

.contieneMax {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
#textoMax {
    color: $color2;
    font-family: $font2;
} 

.modoNocturno #textoMax {
    color: $color1;
}

.tituloMax {
    font-size: $size7;
    font-weight: bold;
}

.userMax {
    font-size: $size8;
}

  
.favMax {
    background-image: url(../assets/icon-fav.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
  }

  .max {
    background-image: url(../assets/icon-max-normal.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
    cursor: pointer;
  }
.max:hover {
    background: white;
    background-image: url(../assets/icon-max-hover.svg);
    opacity: 1;
  }

.imgMax {
    width: 685px;
    height: 300px;
    align-self: center;
    
  }


/////////////// FAV ///////////////

.heart {
    background-image: url(../assets/icon-fav.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

.heart:hover {
    background-image: url(../assets/icon-fav-hover.svg);
    background-color: white;
    width: 32px;
    height: 32px;
  }

.activeFav {
    background-image: url(../assets/icon-fav-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  .heartfavempty {
    width: 20%;
}
  
/////////////// DESCARGAR /////////////// 
.download {
    background-image: url(../assets/icon-download.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    margin-left: 6px;
    cursor: pointer;
  }

.download:hover {
    background-image: url(../assets/icon-download-hover.svg);
  }

.tarjetaBusqueda {
    height: 200px;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 29px;
  }

.gifoBus {
    width: 260px;
    height: 200px;
  }


#contieneBtnMax {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
  }
  
  #cerrar {
    background-image: url(../assets/close.svg);
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 15%;
    cursor: pointer;
  }

  .modoNocturno #cerrar {
      background-image: url(../assets/close-modo-noct.svg);
  }
  
@media (max-width: 767px) {


.tarjetaBusqueda {
    margin: 1% 5px 1% 5px;
    padding: 1%;   
  }

.busquedaHover {
    display: none;
  }

.gifoBus {
    width: 150px;
    height: 150px;
  }

#contieneBtnMax {
    margin-top: 10%;
}

#cerrar {
    margin-right: 8%;
}

.imgMax {
    width: 90%;
    height: 245px;
    align-self: center;
}


#infoMax {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    margin: 2% 5% 5% 10%;
  }


}