$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;

$size1: 35px;
$size2: 30px;
$size3: 25px;
$size4: 20px;
$size5: 22px;
$size6: 18px;
$size7: 16px;
$size8: 15px;
$size9: 14px;
$size10: 13px;


$color1: #FFF;
$color2: #000;
$color3: #572EE5;
$color4: rgba(#572EE5, 0.90);
$color5: #50E3C2;
$color6: #CDD6E0;
$color7: #F3F5F8;
$color8: #9CAFC3;
$color9: #37383C;
$color10: #222326;
$color11: rgba(#572EE5, 0.70);
